.splash {
 padding: 150px 10px 50px 10px;

 h2 {
  color: $yellowShadow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $darkBlue;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
 }
}
